mixin room-small-info(object)
	-
		var currency = '₽'
		
		var pricePerDay = object.pricePerDay.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + currency
		var roomExtra = ''
		if ( object.roomExtra ) roomExtra = object.roomExtra

	.room-small-info.card-styles--white-background.border-corners--all
		.room-small-info__gallery
			+gallery-room-small({
				picturesFolder: `./img/roomspics/${object.roomNumber}/`,
				hasArrows: object.hasArrows
				})
						
		.room-small-info__info
			.room-number-and-price
				.room-number-and-price__left
					span № 
					span.header2= object.roomNumber
					span.header3= ` ${roomExtra}`
				.room-number-and-price__right.room-number-and-price__right--margin-bottom
					//- span 9 990₽
					span= pricePerDay
					span.room-number-and-price__per-day  в сутки
			.horizontal-line.room-small-info__line
			.room-number-and-price
				+rating-area({
					name: `room${object.roomNumber}`,
					rating: object.rating,
					isChangable: false,
					})
				.room-number-and-price__right.room-number-and-price__right--margin-right
					span= object.feedbackCount
					span  Отзывов