mixin like-button(obj)
	input(type='checkbox', name=obj.name, id=obj.id class='like-button__input' checked=obj.checked)
	label(for=obj.id class='like-button')= obj.text
		.like-button__background
		.like-button__heart-icon
		.like-button__content= obj.number_of_likes