//-Миксин для отображения простого текстового поля. Получает обьект с ключами pattern, name и value.
  name - имя и id поля input
  value - передается в поле placeholder
  pattern - при наличии создает masked text field
mixin text-field(obj)
  if obj.pattern
    input(type='text' id=obj.name name=obj.name placeholder=obj.value pattern=obj.pattern class='field-template field-template--border-almost-transparent')
  else
    input(type='text' id=obj.name name=obj.name placeholder=obj.value class='field-template field-template--border-almost-transparent')
  label(for=name)
