//-Миксин для отображения простого текстового поля. Получает обьект с ключами pattern, name и placeholder.
	name - имя и id поля input
	placeholder - передается в поле placeholder
	pattern - при наличии создает masked text field
mixin text-field(obj)
	- var field_class = 'field-template'
	
	if textBrightness == 1
		- field_class += ' field-template--full-color'
	else
		- field_class += ' field-template--quater-color'

	if !obj.noBorder
		if obj.hovered
			- field_class += ' field-template--border-hovered'
		else
			- field_class += ' field-template--border-not-hovered'

	if obj.corners == 'top'
		- field_class += ' border-corners--top'
	else 
		if obj.corners == 'bottom'
			- field_class += ' border-corners--bottom'
		else
			- field_class += ' border-corners--all'

	if obj.field_type == 'text-field'
		if obj.pattern
			div(class= field_class)
				input(type='text' name=obj.name placeholder=obj.placeholder pattern=obj.pattern class='field-template__input-field' value=obj.value)
		else
			div(class= field_class)
				input(type='text' name=obj.name placeholder=obj.placeholder class='field-template__input-field' value=obj.value)
		label(for=name)

	//-Миксин для отображения начального Dropdown. Получает объект
		placeholder - строка с текстом 
		dropdown_hidden - true - маркер для закрытого dropdown, false - маркер для открытого dropdown
	if obj.field_type == 'dropdown-field'
		- field_class += ' field-template--letter-spacing-zero field-template--no-select'

		div(id=obj.name class=field_class data-value=obj.placeholder )
			span= obj.placeholder
			.field-template__icon-field
				if obj.dropdown_hidden
					div(class='field-template__arrow-css field-template__arrow-css--to-bottom')
				else
					div(class='field-template__arrow-css field-template__arrow-css--to-top')
					
	//-Миксин для отображения поля подписки с градиентной стрелкой вправо
	if obj.field_type == 'subscribe-field'
		div(class= field_class)
			input(type='text' name=obj.name placeholder=obj.placeholder class='field-template__input-field')
			.field-template__icon-field
				.field-template__arrow-block(style='width:44px; height: 44px; margin-top: 4px; margin-right:2px')
					.div(class='arrow arrow--gradient arrow--to-right')