mixin text-field(obj)
  if obj.pattern
    input(type='text' id=obj.name name=obj.name placeholder=obj.value pattern=obj.pattern class='text-field')
  else
    input(type='text' id=obj.name name=obj.name placeholder=obj.value class='text-field')
  label(for=name)
