mixin room-booking(object)
	-
		var currency = '₽'
		
		var pricePerDay = object.pricePerDay.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + currency

		if ( object.servicesPrice ) var servicesPrice = object.servicesPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
		else var servicesPrice = '0'
		servicesPrice += currency

		if ( object.discount ) var discount = ': скидка ' + object.discount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + currency
		
		if ( object.extraServicesPrice ) var extraServicesPrice = object.extraServicesPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")
		else var extraServicesPrice = '0'
		extraServicesPrice += currency

		//- var totalPrice = '38 081' + currency
		//- var pricePerPeriod = '39 960' + currency
		//- var daysOfResidence = '4'
	//- FLEX!!!
	form(id = object.id class='room-booking card-styles--white-background cards-styles--flex cards-styles--space-between cards-styles-box-shadow cards-styles-size-and-paddings')
		.room-number-and-price
			.room-number-and-price__left
				span № 
				span.header1= object.roomNumber
				span.header3= object.roomExtra
			.room-number-and-price__right.room-number-and-price__right--margin-bottom
				//- span 9 990₽
				span= pricePerDay
				span.room-number-and-price__per-day  в сутки
		//- в id передается тот же object.id, но в миксине он дополняется, потому остается уникальным!
		+multi-datepicker({id: object.id, titleStart: 'прибытие', titleEnd: 'выезд', setDateStart: object.dateIn, setDateEnd: object.dateOut})
		+dropdown({
						items: [
							{idName: 'grownup', text: 'взрослые', value: object.guests[0], valueDependendText: ['гостей', 'гость', 'гостя'] },
							{idName: 'kids', text: 'дети', value: object.guests[1], valueDependendText: ['гостей', 'гость', 'гостя'] },
							{idName: 'infants', text: 'младенцы', value: object.guests[2], valueDependendText: ['младенцев', 'младенец', 'младенца'] }
						],
						dropdownName: 'guests-' + object.id,
						tfEmptyTitle: 'Сколько гостей',
						tfTitle: 'гости',
						expanded: false,
						hasButtonsBelow: true
					})
		.room-booking__counting-block
			table(cols=2 class='room-booking__table body-text text-dark-shade-almost-total')
				tbody
					tr
						td
							span(id=object.id+'-pricePerDay' data-value=object.pricePerDay )= pricePerDay + ' х '
							span(id=object.id+'-daysOfResidence')
							span  суток
						td 
							span(id=object.id+'-pricePerPeriod')
					tr
						td.room-booking__table-item--flex
							span
								span Сбор за услуги
								if object.discount > 0
									span( id=object.id+'-discount' data-value=object.discount )= discount
							.info-marker
						td
							span( id=object.id+'-servicesPrice' data-value=object.servicesPrice )= servicesPrice
					tr
						td.room-booking__table-item--flex
							span= object.nameExtraService
							.info-marker
						td
							span( id=object.id+'-extraServices' data-value=object.extraServicesPrice )= extraServicesPrice

			.room-booking__summary.header2
				span Итого
				.room-booking__summary-dots
				span(id=object.id+'-totalPrice')

		+elongated-button({sizeWidth: '100%', sizeHeight: '2.75rem', text: 'забронировать', buttonType: 'with-arrow-right', formToSubmit: object.id})


			//- table(cols=3 class='room-booking__table body-text text-dark-shade-almost-total')
			//- 	tbody
			//- 		tr
			//- 			td
			//- 				span(id=object.id+'-pricePerDay' data-value=object.pricePerDay )= pricePerDay + ' х '
			//- 				span(id=object.id+'-daysOfResidence')
			//- 				span  суток
			//- 			td
			//- 			td 
			//- 				span(id=object.id+'-pricePerPeriod')
			//- 		tr
			//- 			td 
			//- 				span Сбор за услуги
			//- 				if object.discount > 0
			//- 					span( id=object.id+'-discount' data-value=object.discount )= discount

			//- 			td
			//- 				.info-marker
			//- 			td
			//- 				span( id=object.id+'-servicesPrice' data-value=object.servicesPrice )= servicesPrice
			//- 		tr
			//- 			td= object.nameExtraService
			//- 			td
			//- 				.info-marker
			//- 			td
			//- 				span( id=object.id+'-extraServices' data-value=object.extraServicesPrice )= extraServicesPrice
			//- .room-booking__summary.header2
			//- span Итого
			//- .room-booking__summary-dots
			//- span(id=object.id+'-totalPrice')
