//- Text - слово, 
//- 	valueDependendText - массив слов, в зависимости от цифры:
//- 	элемент 0 - для кол-ва 0, 5 больше 
//- 	элемент 1 - для кол-ва 1
//- 	элемент 2 - для кол-ва от 2 до 4
//- 	connetctionName - уникальный идентификатор родительского объекта (для связи с его главным полем) - 
//-		используется так же в идентификаторах кнопок, чтобы не путались между dropdownами

mixin incdecField(obj, connectionName)
	-
		var buttonDisabled = false
		var ButtonIdFirstPartName = obj.idName + '-' + connectionName

	.incdecField
		label(for=obj.idName class='header3 incdecField__text')= obj.text
		.incdecField__settings
			- if ( obj.value == 0 ) buttonDisabled = true
			input(type='button' id=ButtonIdFirstPartName+'BtnMns' value='-' class='btnMns incdecField__input-button ' disabled=buttonDisabled)
			input(id=obj.idName+'-'+connectionName name=obj.idName+'Value' class='incdecField__my-input header3' 
				type='text' value=obj.value disabled data-zero-others=obj.valueDependendText[0] 
				data-one=obj.valueDependendText[1] data-two-three-four=obj.valueDependendText[2] )
			- 
				buttonDisabled = false
				if ( obj.value == 5 )
					buttonDisabled = true
			input(type='button' id=ButtonIdFirstPartName+'BtnPls' value='+' class='btnPls incdecField__input-button ' disabled=buttonDisabled)