
mixin elongated-button(obj)
	mixin button
		button(class='elongated-button ' + buttonType disabled=obj.disabled type=obj.formToSubmit ? 'submit' : ''
			form=obj.formToSubmit id= obj.id ? obj.id : '' )
			span(class='header3 elongated-button__text ' + textType)= obj.text
			if addArrow
				span.elongated-button__arrow-block
					if addArrow=='with-arrow-right'
						span(class='arrow arrow--to-right arrow--white')
					if addArrow=='with-arrow-left'
						span(class='arrow arrow--to-left arrow--white')

	-
		let buttonType = '';
		let textType = '';
		let addArrow = false;
		let wrapperOfButton = '';

		switch (obj.textType) {
			case 'white' : textType = 'elongated-button__text--white'; break;
			case 'purple' : textType = 'elongated-button__text--purple'; break;
			case 'halfdark' : textType = 'elongated-button__text--half-dark'; break;
			case 'green' : textType = 'elongated-button__text--green'; break;
		}

		switch (obj.buttonType) {
			case 'with-arrow-right' : addArrow = obj.buttonType;
			case 'with-arrow-left' : addArrow = obj.buttonType;
			case 'filled' : 
				buttonType = 'elongated-button--full-color';
				if ( textType == '') textType = 'elongated-button__text--white';
				break;
			case 'empty' :
				buttonType = 'elongated-button--empty-inside';
				if ( textType == '') textType = 'elongated-button__text--purple';
				wrapperOfButton = 'elongated-button__wrapper--purple-gradient'
				break;
			case 'no-border' :
				buttonType = 'elongated-button--no-border';
				if ( !obj.disabled && textType == '' ) textType = 'elongated-button__text--purple';
				break;
			default : break;
		}
	div(style='height: ' + obj.sizeHeight + '; width: ' + obj.sizeWidth class=wrapperOfButton)
		if obj.referenceText
			a(href=obj.referenceText)
				+button
		else
			+button
		//- button(class='elongated-button ' + buttonType disabled=obj.disabled type=obj.formToSubmit ? 'submit' : ''
		//- 	form=obj.formToSubmit value=obj.referenceText id= obj.id ? obj.id : '' )
		//- 	span(class='header3 elongated-button__text ' + textType)= obj.text
		//- 	if addArrow
		//- 		span.elongated-button__arrow-block
		//- 			if addArrow=='with-arrow-right'
		//- 				span(class='arrow arrow--to-right arrow--white')
		//- 			if addArrow=='with-arrow-left'
		//- 				span(class='arrow arrow--to-left arrow--white')
