- var menuItemClass = ''

mixin nav-menu-top(array)
	.nav-menu.nav-menu--inline-burger
		ul.card-styles--white-background
			each index in array
				- 
					menuItemClass = 'nav-menu__item nav-menu__item--right-margin'
					if ( index.hovered )
						menuItemClass += ' nav-menu__item--hovered'
					else 
						menuItemClass += ' nav-menu__item--not-hovered'
				if index.subTitles
					li(class=menuItemClass)= index.title
						- if ( index.subTitles )
							.nav-menu__arrow-container
								.arrow-triangle.arrow-triangle--to-bottom
							ul.nav-menu__submenu.nav-menu__submenu--popup.nav-menu__submenu--hidden
								each subIndex in index.subTitles
									li.nav-menu__item.nav-menu__item--not-hovered.nav-menu__item--top-margin
										a.nav-menu__item(href='#')= subIndex
				else
					li(class=menuItemClass)
						a(href='#')= index.title

mixin nav-menu-footer(array)
	ul.nav-menu.nav-menu--flexible
		each index in array
			li.header3.nav-menu__header-li
				span.text-dark-shade-total= index.title
				ul.nav-menu__submenu.nav-menu__submenu--always-vsible
					each subindex in index.items
						li.nav-menu__item.nav-menu__item--not-hovered.nav-menu__item--top-margin
							a.nav-menu__item(href='#')= subindex